body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #a2f6fc;
  color: #333333;
  padding: 20px;
  line-height: 1.6;
}

nav {
  background-color: #2980b9;
  padding: 10px;
  margin-bottom: 20px;
}

nav a {
  background-color: #16a085;
  color: white;
  padding: 8px 15px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.2s;
}

nav a[aria-current="page"] {
  background-color: #e6c222;
  color: white;
}

nav a:hover {
  background-color: #1abc9c;
  transform: scale(1.05);
}

h1 {
  color: #2980b9;
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  color: #16a085;
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  color: #7d22e6;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.flex-item {
  background-color: #e6c222;
  color: rgb(39, 36, 36);
  padding: 40px 20px;
  border: 2px solid #2980b9;
  border-radius: 12px;
  width: 180px;
  height: 120px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.flex-item:hover {
  background-color: #16a085;
  transform: scale(1.07);
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  justify-items: center;
  align-items: start;
  margin: 40px auto;
  max-width: 1000px;
}

.game-card {
  background-color: #e6c222;
  border: 2px solid #2980b9;
  border-radius: 12px;
  padding: 15px;
  width: 180px;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.game-card:hover {
  background-color: #16a085;
  transform: scale(1.05);
}

.game-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #2980b9;
}

.game-card p {
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

.footer {
  display: flex;
  padding: 1rem;
  background-color: #2980b9;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  color: white;
}


.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}


.image-box {
  width: 50%;        
  min-width: 200px;  
  box-sizing: border-box;
  padding: 10px;    
}


.image-box img {
  width: 100%;        
  height: auto;
  border-radius: 10px;
  display: block;
}


@media (max-width: 400px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .image-box {
    width: 100%;  
  }
}

